.solutionsSection {
    background-color: #2495EC;
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 8%;
}

h2 {
    color: aliceblue;
    /* text-align: center; */
    font-size: 200%;
}

p {
    color: aliceblue;
    font-size: 150%;
}